<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gy.mydemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".zxing.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/ActivityTheme">
        <activity android:name=".zxing.MainActivity"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mvp.ui.GaoYActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".zxing.SecondActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".zxing.ThreeActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".Mvp.ui.MovieActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".Mvvm.ui.MvvmMoviActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".Activity.ImageActivity"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>